@model DatabaseAccess.tblAccountSetting

@{
    string controllerName = "tblAccountSettings";
    ViewBag.ControllerName = controllerName;
    string actionaName = "Index";
    ViewBag.ActionaName = actionaName;
    ViewBag.MainTitle = "All Account Settings";
    ViewBag.Title = "Add Account Setting";
}

<div class="row clearfix">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="card">
                <div class="body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                <strong style="font-weight:600">Oops! </strong> @ViewBag.Message
                            </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountHeadID, "Select Head Account", htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-10">
                                @Html.DropDownList("AccountHeadID", null, "--Head Account--", htmlAttributes: new { @class = "form-control", @id = "AccountHeadID" })
                                @Html.ValidationMessageFor(model => model.AccountHeadID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountControlID, "Select Control Account", htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-10">
                                @Html.DropDownList("AccountControlID", null, "--Control Account--", htmlAttributes: new { @class = "form-control", @id = "AccountControlID" })
                                @Html.ValidationMessageFor(model => model.AccountControlID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountSubControlID, "Select Sub Control Account", htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-10">
                                @Html.DropDownList("AccountSubControlID", null, "--Sub Control Account--", htmlAttributes: new { @class = "form-control", @id = "AccountSubControlID" })
                                @Html.ValidationMessageFor(model => model.AccountSubControlID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountActivityID, "Select Activity Account", htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-10">
                                @Html.DropDownList("AccountActivityID", null, "--Activity Account--", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AccountActivityID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">
                                    Create
                                </button>
                                <a href="@Url.Action("Index", "tblAccountSettings")" class="btn btn-default">
                                    <i class="icon-arrow-left mr-2"></i> Back
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 6000);
</script>
<script>
    $(document).ready(function () {
        $('#AccountHeadID').change(function () {

            $('#AccountControlID').html('');
            $.ajax({
                url: '@Url.Action("GetAccountControls", "tblAccountSettings")',
                type: 'GET',
                data: { id: $(this).val() },
                dataType: 'Json',
                success: function (response) {
                    $('#AccountControlID').append("<option value='0'> Control Account </option>");
                    for (var i = 0; i < response.data.length; i++) {
                        $('#AccountControlID').append("<option value=" + response.data[i].AccountControlID + ">" + response.data[i].AccountControlName + "</option>");
                    }
                },
                error: function () {

                }
            });
        });

        $('#AccountControlID').change(function () {

            $('#AccountSubControlID').html('');
            $.ajax({
                url: '@Url.Action("GetSubControls", "tblAccountSettings")',
                type: 'GET',
                data: { id: $(this).val() },
                dataType: 'Json',
                success: function (response) {
                    $('#AccountSubControlID').append("<option value='0'>Sub Control Account </option>");
                    for (var i = 0; i < response.data.length; i++) {
                        $('#AccountSubControlID').append("<option value=" + response.data[i].AccountSubControlID + ">" + response.data[i].AccountSubControlName + "</option>");
                    }
                },
                error: function () {

                }
            });

        });

    });
</script>
