@model IEnumerable<DatabaseAccess.tblCompany>

@{
    string controllerName = "tblCompanies";
    ViewBag.ControllerName = controllerName;
    ViewBag.MainTitle = "Company Operations";
    ViewBag.Title = "All Companies";
}

<a href="@Url.Action("Create")" class="btn btn-primary m-b-20">
    <i class="icon-plus mr-1"></i> Add Company
</a>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Company Name</th>
                                <th>Company Logo</th>
                                <th>Action's</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                var item = Model.ElementAt(i);
                                <tr>
                                    <td>@(i + 1)</td> <!-- Serial Number Column -->
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.Logo))
                                        {
                                            <img src="@Url.Content(item.Logo)" class="img-fluid circle" alt="Company Logo" style="width:78px;height:48px;max-width:100%;max-height:auto;" />
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", new { id = item.CompanyID })" class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5 button-edit" data-toggle="tooltip" data-original-title="Update">
                                            <i class="icon-pencil"></i>
                                        </a>
                                        <a href="@Url.Action("Details", new { id = item.CompanyID })" class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5 button-info" data-toggle="tooltip" data-original-title="Details">
                                            <i class="icon-info"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Sr.No</th>
                                <th>Company Name</th>
                                <th>Company Logo</th>
                                <th>Action's</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
