@model DatabaseAccess.tblSupplier

@{
    string controllerName = "tblSuppliers";
    ViewBag.ControllerName = controllerName;
    string actionaName = "Index";
    ViewBag.ActionaName = actionaName;
    ViewBag.MainTitle = "All Branch Suppliers";
    ViewBag.Title = "Update Supplier Details";
}


<div class="row clearfix">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="card">
                <div class="body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.SupplierID)
                        @Html.HiddenFor(model => model.CompanyID)
                        @Html.HiddenFor(model => model.BranchID)
                        @Html.HiddenFor(model => model.UserID)

                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                <strong style="font-weight:600">Oops! </strong> @ViewBag.Message
                            </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(model => model.SupplierName, "Supplier Name", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SupplierConatctNo, "Conatct No", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SupplierConatctNo, new { htmlAttributes = new { @class = "form-control", id = "phone" } })
                                @Html.ValidationMessageFor(model => model.SupplierConatctNo, "", new { @class = "text-danger" })
                                <span class="help-block">(999) 999-9999</span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SupplierAddress, "Address", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SupplierAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SupplierAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SupplierEmail, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SupplierEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SupplierEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Discription, "Discription", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Discription, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Discription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                                <a href="@Url.Action("Index", "tblSuppliers")" class="btn btn-default">
                                    <i class="icon-arrow-left mr-2"></i> Back
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 6000);
</script>
