@model DatabaseAccess.tblAccountSubControl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblAccountSubControl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountSubControlName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountSubControlName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblAccountControl.AccountControlName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAccountControl.AccountControlName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblAccountHead.AccountHeadName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAccountHead.AccountHeadName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblBranch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblBranch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountSubControlID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
