@model IEnumerable<DatabaseAccess.Model.SupplierReturnInvoiceModel>

@{
    string controllerName = "PurchaseReturn";
    ViewBag.ControllerName = controllerName;
    ViewBag.MainTitle = "All Return Purchase";
    ViewBag.Title = "Pending Purchase Return Payments";
}

@if (@Session["Message"] != null)
{
    <div class="alert alert-info" role="alert">
        <strong style="font-weight:600"></strong> @Session["Message"]
    </div>
}

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    Supplier
                                </th>
                                <th>
                                    Invoice No
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Return (Total Amount)
                                </th>
                                <th>
                                    Return (Payment Amount)
                                </th>
                                <th>
                                    Remaining Balance
                                </th>
                                <th>Action's</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                var item = Model.ElementAt(i);
                                <tr>
                                    <td>@(i + 1)</td> <!-- Serial Number Column -->
                                    <td>
                                        @Html.ActionLink(item.SupplierName, "SupplierDetails", "tblSuppliers", new { id = item.SupplierID }, null)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InvoiceNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InvoiceDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReturnTotalAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReturnPaymentAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RemainingBalance)
                                    </td>
                                    <td>
                                        @{
                                            if (item.ReturnTotalAmount - 1 > item.ReturnPaymentAmount)
                                            {
                                                <a href="@Url.Action("ReturnAmount", new { id = item.SupplierReturnInvoiceID })" class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5 button-paid" data-toggle="tooltip" data-original-title="Return Payment">
                                                    <i class="icon-check mr-1"></i> Return Payment
                                                </a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Sr.No</th>
                                <th>
                                    Supplier
                                </th>
                                <th>
                                    Invoice No
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Return (Total Amount)
                                </th>
                                <th>
                                    Return Payment
                                </th>
                                <th>
                                    Remaining Balance
                                </th>
                                <th>Action's</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

