@model DatabaseAccess.tblStock

@{
    string controllerName = "tblStocks";
    ViewBag.ControllerName = controllerName;
    string actionaName = "Index";
    ViewBag.ActionaName = actionaName;
    ViewBag.MainTitle = "All Stock Details";
    ViewBag.Title = "Stock Details";
}

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <dl class="row">
                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.ProductName)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ProductName)
                    </dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.SaleUnitPrice)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.SaleUnitPrice)
                    </dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.CurrentPurchaseUnitPrice)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.CurrentPurchaseUnitPrice)
                    </dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.ExpiryDate)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ExpiryDate)
                    </dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.Manufacture)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Manufacture)
                    </dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.StockTreshHoldQuantity)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.StockTreshHoldQuantity)
                    </dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.tblBranch.BranchName)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.tblBranch.BranchName)
                    </dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.tblCategory.categoryName)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.tblCategory.categoryName)
                    </dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.tblCompany.Name)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.tblCompany.Name)
                    </dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.tblUser.FullName)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.tblUser.FullName)
                    </dd>

                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                </dl>

                <p>
                    <a href="@Url.Action("Edit", "tblStocks", new { id = Model.ProductID })" class="btn btn-primary ml-3">
                        Edit info
                    </a>
                    <a href="@Url.Action("Index", "tblStocks")" class="btn btn-default">
                        <i class="feather icon-arrow-left mr-2"></i> Back
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>